.manager-container {
  input {
    border: none;
    margin: 0;
    color: $color-primary;


    &:focus {
      box-shadow: 1px 1px 4px 3px rgba(38, 152, 155, 0.6);
      background-color: $color-white;
      color: $color-black;
    }
  }

  .selection,
  .options {
    border-color: #ddd;
    border-radius: 10px;
  }

  .option-content {
    margin-left: 30px;
  }

  .ancher {
    display: block;
  }

  .ancher-primary {
    color: lightgrey;
    text-decoration: none;
  }

  .option-container {
    padding: 7px 20px;
    display: flex;
    width: 100%;
    border-bottom: 1px solid #ddd;
    align-items: center;
  }

  .option {

    align-items: center;
    display: flex;
  }
}